@import "tailwindcss";
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
header{
  background: linear-gradient(#000 0%,rgba(255,255,255,0) 80%);
  transition:all 0.3s linear;
}
footer{
  background: #000 url('https://www.yangdong.co:8443/tianyan/index/f-bg.webp')no-repeat;
  width: 100%;
  height: 706px;
  .footerTop{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid #51565c;
    .footerTopItem{
      display: flex;
      div{
        margin-left: 20px;
        p{
          font-family: Roboto;
          font-weight: bold;
          font-size: 30px;
          color: #FEFEFE;
        }
        span{
          font-family: Source Han Sans CN;
          font-weight: 400;
          font-size: 24px;
          color: #808080;
        }
      }
    }
  }
  .footerCenter{
    margin-top: 40px;
    display: flex;
    position: relative;
    ul{
      margin-right: 80px; 
      h5{
        margin-bottom: 40px;
        a{
          font-family: Source Han Sans CN;
          font-weight: bold;
          font-size: 24px;
        }
      }
      li{
        font-weight: 400;
        font-size: 16px;
        line-height: 36px;
      }
    }
    .erweimaWrap{
      position: absolute;
      right: 80px;
      text-align: center;
      img{
        margin-bottom: 10px;
      }
    }
  }
}
.main{
  width: 1400px;
  margin: auto;
}
.upwards{
  padding-top:80px;
  margin-top:-80px;
}
.anchor{
  a{
    font-family: Source Han Sans CN;
    font-weight: bold;
    &:first-child{
      color: #FF6600;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(90deg, #D20000 0%, #FEB00F 100%);
      }
    }
    &:hover{
      color: #FF6600;
      transition:all 0.3s linear;
    }
  }
}
// index page start
.countup60{
  font-weight: 500;
  font-size: 60px;
  line-height: 40px;
  margin-left: 20px;
}
.product-grid{
  div{
    position: relative;
    cursor: pointer;
    img{
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
    text-align: center;
    span{
      position:absolute;
      font-size: 30px;
      color: #333333;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.slick-dots{
  ul{
    li{
      width: 100px;
    }
  }
}
// index page end
.imgbox{
  overflow: hidden;
  img{
    transition:all 0.3s linear;
  }
  &:hover{
    img{
      transform: scale(1.1);
      transition:all 0.3s linear;
    }
  }
}